*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

#logo {
  width: 80px;
  height: 70px;
}

.margin-auto {
  margin: auto;
}

ul {
  list-style: none;
}

nav ul li {
  margin: 25px;
  justify-content: space-around;
}

nav li a {
  text-decoration: none;
  font-size: 30px;
}

#items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item-container {
  margin: 30px;
}

.album-photo {
  width: 100%;
}

.display-flex {
  display: flex;
}

.heart {
  float: right;
  font-size: 30px;
}

.heart:hover {
  color: red;
}

footer {
  border-top: 1px solid black;
  padding-block: 2rem;
}
